<nav class="animated fadeIn navigation" role="navigation">
    <div class="container">
        <a href="{{@blog.url}}" class="text-right brand">
            {{#if @blog.logo}}<img src="{{@blog.logo}}" alt="gamepassion"/>{{/if}}
        </a>

        <p class="content">{{@blog.title}}</p>

        <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>

        {{#if @blog.navigation}}

            <div class="nav article-fixed-bg"
                 style="background-image: url({{@blog.cover}});">
                <h3 class="nav-title">Menu</h3>
                <a href="#" class="nav-close">
                    <span class="hidden">Close</span>
                </a>

                <ul>
                    {{#foreach navigation}}
                        <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a
                                href="{{url absolute="true"}}">{{label}}</a></li>
                    {{/foreach}}
                </ul>
                <!-- FACEBOOK -->
                <div class="social-follow">
                    <div class="fb-follow" data-href="https://www.facebook.com/gamepassion.fr" data-colorscheme="light"
                         data-layout="button_count" data-show-faces="true"></div>
                </div>
                <div class="social-follow">
                    <!-- Placez cette balise dans l'en-tête ou juste avant la balise de fermeture du corps de texte. -->
                    <script src="https://apis.google.com/js/platform.js" async defer>
                        {
                            lang: 'fr'
                        }
                    </script>

                    <!-- Placez cette balise où vous souhaitez faire apparaître le gadget widget. -->
                    <div class="g-follow" data-annotation="bubble" data-height="24"
                         data-href="https://plus.google.com/116731006647569384085" data-rel="publisher"></div>
                </div>
                <!-- TWITER -->
                <div class="social-follow">
                    <a href="https://twitter.com/gamePassionFr" class="twitter-follow-button" data-show-count="false"
                       data-lang="fr">Suivre @gamePassionFr</a>
                    <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + '://platform.twitter.com/widgets.js';
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, 'script', 'twitter-wjs');</script>
                    <!--<a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/"><span class="fa fa-rss fa-2x"></span>S'inscrire</a>-->
                </div>
            </div>
        {{/if}}
    </div>
</nav>
