<div class="share">
    Partager sur <a id="twitter"
                    href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute='true'}}"><img
        src="{{asset "images/social/twitter.png"}}" class="socialImg"></a>
    <a id="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}"><img
            src="{{asset "images/social/facebook.png"}}" class="socialImg"></a>
    <a id="google-plus" href="https://plus.google.com/share?url={{url absolute='true'}}"><img
            src="{{asset "images/social/googleplus.png"}}" class="socialImg"></a>
</div>
